* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(228,228,228);
}

.about-header {
    text-align: center;
    background-color: rgb(160, 206, 202);
    color: white;
    padding-bottom: 60px;
}

.about-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
}

.person-box {
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    text-align: center;
}

.person-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(218,218,218);
    width: 100%;
}

.person-header h3 {
    margin: 0;
    padding-top:1rem;
    padding-bottom: 1rem;

}

img {
    border-radius: 15px;
    margin: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer-link {
    padding: 0 20px;
}

#person-footer {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}


#person-footer p {
    color: rgb(24,24,24);
}